*
body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}
#nav {
    height: 184px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
#nav-brand {
    height: 79px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 42px;
    font-weight: 400;
    font-family: 'playfair display', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nav-brand a{
    text-decoration: none;
    color: purple;
}

img {
    width: 47px;
    margin: 8px;
}
nav ul {
    list-style: none;
    display: flex;
    margin-top: 35px;
}
nav ul li {
    margin: 10px;
}
nav button{
    font-family: 'poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 38px;
    width: 112px;
    margin-top: 30px;
    background-color: purple;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 3px gray;
    border-radius: 6px;
}
button a {
    color: white;
    text-decoration: none;
}
button:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.445),0 17px 50px 0 ;
}
nav ul li a {
    color: purple;
    text-decoration: none;
    font-size: 15px;
    font-family: 'poppins', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a:hover{
        display: inline-block;
        position: relative;
        color: purple;
}
nav ul li a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 255, 10);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
}
nav ul li a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
}
section{
    position: relative;
    background-color: purple;
    color: white;
    height: 510px;
    top: -55px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.pic img {
    width: auto;
    height: 649px;
    position: absolute;
    left: 133px;
    bottom: -248px;
}
#side img {
    width: auto;
    height: 300px;
    z-index: 1;
    position: absolute;
    left: 183px;
    bottom: -22px;
}
#demo{
    position: absolute;
    right: 98px;
    top: 36px;
    font-size: 30px;
}
#di {
    font-weight: 600;
    font-family: playfair display;
    margin-bottom: 0px;
    line-height: 1.2;
    margin-top: 0px;
    font-size: 40px;
}

#ed {
    margin-top: 0; 
    margin-bottom: 0;
    font-weight: 700 !important;
    font-family: playfair display !important;
}
#demo p {
    font-family: 'poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.search-bar {
    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 0 20px;
}
.search-bar input {
    background: white;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 0px;
    font-size: 20px;
    color: black;
}
.search-bar button{
    border: 0;
    margin-bottom: -2px;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    background: transparent;
}
.search-bar button img {
    width: 53px;
    height: 54px;
    position: relative;
    margin: 0px;
    right: 10px;
    top: -4px;
}
#box {
    border: 3px solid #ffffff4d;
    width: 340px;
    text-align: center;
    position: absolute;
    right: 129px;
    height: 162px;
    bottom: -65px;
    background-color: #ffffff4d;
    padding: 14px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
}
#box img{
    height: 200px;
    width: auto;
    position: absolute;
    top: -45px;
    left: 271px;
}
#box a{
    background-color: #ffbe00;;
    font-family: 'poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 14px 25px;
    width: 30px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    width: 150px;
}
.pic {
    position: absolute;
    top: 410px;
}
#pi img {
    position: absolute;
    left: -129px;
    top: 55px;
}
#yen {
    font-family: playfair display !important;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
}
#box p{
    font-family: 'poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}#three {
    color: purple;
    font-size: 40px;
    text-align: center;
    font-family: 'playfair display', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    bottom: -105px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}
#col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 160px;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}
.flex-item {
    position: relative;
}
.flex-item img{
    width: 350px;
    position: relative;
    height: auto;
    margin: 0px;
}
.item {
    position: absolute;
    bottom: -23px;
    background-color: #ffffff4d;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 174px;
    left: 0px;
    border-radius: 30px;
    color: white;
}
.item header {
    position: absolute;
    bottom: 90px;
    left: 25px;
    letter-spacing: 2px;
    font-family: poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
}
.item p{
    position: absolute;
    left: 21px;
    bottom: 18px;
    font-size: 30px;
    font-weight: 600;
    font-family: poppins;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 27px;
    
}
.item img {
    width: 73px;
    position: absolute;
    height: auto;
    right: 0px;
    bottom: 117px;
}
.item h4 {
    position: absolute;
    right: 20px;
    bottom: 83px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 2px;
}
.item aside {
    position: absolute;
    right: 33px;
    bottom: 55px;
    font-size: 25px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 600;
}
.tem {
    background-color: purple;
    color: white;
    width: 100%;
    height: 185px;
    position: absolute;
    bottom: -135px;
    border-radius: 0 0 15px 15px;
}
.tem h5{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: Playfair Display, 'Times New Roman', Times, serif;
    margin-top: 25px;
    letter-spacing: 1px;
}
.tem a {
    background-color: white;
    color: purple;
    text-decoration: none;
    padding: 11px;
    position: absolute;
    right: 25px;
    width: 162px;
    text-align: center;
    bottom: 24px;
    font-size: 17px;
    border-radius: 7px;
    font-family: Poppins;
    font-weight: 700;
}
.tem img {
    width: 36px;
    height: auto;
    bottom: 25px;
    left: 62px;
    position: absolute;
}
.tem p {
    position: absolute;
    left: 18px;
    font-size: 13px;
    font-family: poppins;
    font-weight: 500;
    bottom: 4px;
}
.tem a:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.842),0 17px 50px 0 ;
}
.tem h6{
    position: absolute;
    bottom: 30px;
    left: 16px;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 27px;
}
.little img {
    width: 45px;
    position: absolute;
    top: -222px;
    right: 20px;
}
#it {
    color: purple;
    font-size: 34px;
    font-family: 'playfair display', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    font-weight: 800;
    bottom: -185px;
    letter-spacing: 2px;
}
article {
    background-color: purple;
    color: white;
    display: flex;
    height: 510px;
    width: 100%;
    position: relative;
    bottom: -215px;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.text img {
    width: 590px;
    height: 750px;
    margin-top: -124px;
}
.tex h6 {
    font-size: 120px;
    margin: 0px;
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: 2px;
}
.tex p {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 600;
    line-height: 155%;
}
.tex a {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    width: 228px;
}
#top{
    position: relative;
    bottom: -360px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: Playfair Display;
    letter-spacing: 2px;
    color: purple;
}
#section {
    position: relative;
    bottom: -360px;
}
.items {
    position: absolute;
    bottom: -23px;
    background-color: #ffffff4d;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 174px;
    left: 0px;
    border-radius: 30px;
    color: white;
}
.items img {
    width: 110px;
    position: absolute;
    height: auto;
    right: 138px;
    bottom: 116px;
}
.items header {
    position: absolute;
    bottom: 90px;
    left: 25px;
    letter-spacing: 2px;
    font-family: poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
}
.items p{
    position: absolute;
    left: 21px;
    bottom: 18px;
    font-size: 30px;
    font-weight: 600;
    font-family: poppins;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 0px;
    
}
.tems {
    background-color: purple;
    color: white;
    width: 100%;
    height: 185px;
    position: absolute;
    bottom: -135px;
    border-radius: 0 0 15px 15px;
}
.tems h5{
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    font-family: Playfair Display, 'Times New Roman', Times, serif;
    margin-top: 25px;
    letter-spacing: 1px;
}
.tems a {
    background-color: white;
    color: purple;
    text-decoration: none;
    padding: 11px;
    position: absolute;
    right: 70px;
    width: 210px;
    text-align: center;
    bottom: 24px;
    font-size: 17px;
    border-radius: 7px;
    font-family: Poppins;
    font-weight: 700;
}
.tems img {
    width: 36px;
    height: auto;
    bottom: 25px;
    left: 62px;
    position: absolute;
}
.tems p {
    position: absolute;
    left: 138px;
    font-size: 12px;
    font-family: poppins;
    font-weight: 300;
    top: 42px;
    letter-spacing: 1px;
}
.tems a:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.842),0 17px 50px 0 ;
}
.tems h6{
    position: absolute;
    bottom: 30px;
    left: 19px;
}
footer{
    position: relative;
    bottom: -650px;
    background-color: purple;
    color: white;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 210px;
}
#brand {
    height: 79px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
    left: 102px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 42px;
    font-weight: 400;
    font-family: 'playfair display';
}
#brand img {
    width: 47px;
    margin: 8px;
}
#brand a{
    text-decoration: none;
    color: white;
}
#brand p {
    font-size: 17px;
    font-family: poppins;
    font-weight: 400;
    position: absolute;
    bottom: -50px;
    left: 80px;
}
#tab {
    display: flex;
    position: absolute;
    right: 750px;
    top: 24px;
}
#red {
    position: absolute;
    left: 430px;
    line-height: 2.0;
    top: 27px;
}
#red ul {
    list-style: none;
}
#red ul h2 a {
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: Poppins;
    text-decoration: none;
}
#red ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'poppins', 'Arial Narrow', Arial, sans-serif;
}
#ret {
    bottom: -17px;
    position: absolute;
    left: 690px;
    line-height: 2.0;
}
#ret ul {
    list-style: none;
}
#ret ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'poppins', 'Arial Narrow', Arial, sans-serif;
}
#ret ul h2 a {
    margin-left: -5px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: Poppins;
    text-decoration: none;
}
#info {
    position: absolute;
    right: 120px;
    bottom: 35px;
}
#info h2 {
    font-family: Playfair Display !important;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: -16px !important;
}
#email_input {
    padding: 4px 18px;
    width: 260px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: -10px;
}
#info p {
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 2px;
}
#color {
    position: absolute;
    background-color: yellow;
    width: 100%;
    bottom: -19px;
    height: 20px;
}
@media screen and (max-width:700px) {
    #nav {
        display: none;
    }
    .flex-item img {
        width: 270px;
    }
    .flex-container {
        display: flex;
    }
    .tems {
        width: 270px;
    }
    .tem {
        width: 270px;
    }
}
@media screen and (min-width:600px) {
     
 .navbar.bg-light.fixed-top {
        display: none !important;
    }
    
}
